.slider {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
}

.slider:after {
  content: "";
  display: table;
  clear: both;
}

.slider li {
  list-style: none;
}

.slider ul li {
  float: left;
}